<h1>Angular 11 HttpClient for Sending Http Request Example - ItSolutionStuff.com</h1>
<input 
    (keyup.enter)="createPost(title)" #title
    type="text" class="form-control">

<ul class="list-group">

  <li 
    *ngFor="let account of parsed.Accounts.row"
     class="list-group-item">
      {{account.name}}
  </li>
</ul>
<table datatable class="row-border hover">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let account of parsed.Accounts.row">
      <td>{{account.name}}</td>
    </tr>
  </tbody>
</table>

<table mat-table [dataSource]="parsed.Accounts.row">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>